@import 'block/header';
@import 'block/promo';



.container{
    max-width: 1400px;
    display: block;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
button{
    cursor: pointer;
    outline: none;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}