.bathroom{
    height: auto;
    padding: 100px 0 0 0;
    &__title{
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #00C08B;
    }
    &__subtitle{
        font-weight: 400;
        font-size: 56px;
        line-height: 62px;
        text-align: center;
        color: #006450;
        margin-top: 25px;
    }
    &__descr{
        font-weight: 400;
        font-size: 24px;
        line-height: 16px;
        text-transform: lowercase;
        color: #006450;
        margin-top: 105px;
    }
    &__dates{
        width: 100px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        span{
            width: 10px;
            height: 10px;
            border: 1px solid #006450;
        }
        .active{
            background: #006450;
        }
    }
    &__wrapper{
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &-item{
            width: 700px;
            position: relative;
            margin-top: 20px;
            .text{
                position: absolute;
                top: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            img{
                width: 100%;
            }
           
        }
        &-title{
            font-weight: 400;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            color: #FFFAEF;
        }
        &-descr{
            width: 480px;
            font-weight: 400;
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            text-transform: lowercase;
            color: #FFFAEF;
        }
        &-btn{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border: none;
            height: 60px;
            background: #E1FF32;
            font-weight: 400;
            font-size: 24px;
            line-height: 60px;
            text-align: center;
            color: #3E3935;
            &:hover{
                background-color: #fff;
            }
        }
    }
   
}